@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;

}
*{
    font-family: "Lato", sans-serif;

}
/**************Custom Scroll bar**************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply shadow-lightColor;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-r from-primaryGradient to-secondaryGradient;
    border-radius: 10px;
}

.contact-container {
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

#Services,
#Contact {
    padding-top: 80px;
}

#About {
 padding-top: 10px;
}
.Image-Container-Header{
    top: 0;
    margin: 0;
    padding: 10px;
}
/* Header styling */
#navbar {
    position: fixed; 
    font-family: "Lato", sans-serif;
    z-index: 50; 
    width: 100%; 
    backdrop-filter: blur(10px);
}
#list-nav{
    padding: 20px 50px;
}

#navbar-content {
    display: flex;
    padding: 10px 100px;
    justify-content: space-between; 
    width: 100%;
}
/* Home styling */
.img-container-home,
.img-cont-home {
    position: relative; 
}

.img-home-left,
.img-home-right {
    position: absolute; 
    height: 70rem;
    transition: all 0.3s ease;
}


.img-home-left {
    top: -10vh; 
    left: -75vh; 
}

.img-home-right {
    top: -10vh; 
    right: -75vh; 
}


@media (max-width: 640px) {
    .img-home-left {
        height: 30rem; 
        top: -20vh; 
        left: -50vw; 
    }
    
    .img-home-right{
        height: 14rem; 
        top: 42vh; 
        z-index: 1;
        right: -6vw;
    }

}

/* Contact styling */
.calendly-inline-widget{
    min-width:562px;
    height:350px;
}