@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    overflow-x: hidden;
}

/**************Custom Scroll bar**************/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply shadow-lightColor;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-r from-primaryGradient to-secondaryGradient;
    border-radius: 10px;
}

.contact-container {
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}